<a href="https://colab.research.google.com/github/id-shiv/knowledge_base/blob/master/%5BProject_401%5D_Data_Handling_with_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

# Import Data

In [0]:
data_file = '/content/drive/My Drive/050 Colaboratory Notebooks/Datasets/student-mat.csv'

In [59]:
data = pd.read_csv(data_file, delimiter=';')
data.head()

  school sex  age address famsize Pstatus  ...  Walc  health absences  G1  G2  G3
0     GP   F   18       U     GT3       A  ...     1       3        6   5   6   6
1     GP   F   17       U     GT3       T  ...     1       3        4   5   5   6
2     GP   F   15       U     LE3       T  ...     3       3       10   7   8  10
3     GP   F   15       U     GT3       T  ...     1       5        2  15  14  15
4     GP   F   16       U     GT3       T  ...     2       5        4   6  10  10

[5 rows x 33 columns]

# View Data

In [60]:
# Get all columns
data.columns

Index(['school', 'sex', 'age', 'address', 'famsize', 'Pstatus', 'Medu', 'Fedu',
       'Mjob', 'Fjob', 'reason', 'guardian', 'traveltime', 'studytime',
       'failures', 'schoolsup', 'famsup', 'paid', 'activities', 'nursery',
       'higher', 'internet', 'romantic', 'famrel', 'freetime', 'goout', 'Dalc',
       'Walc', 'health', 'absences', 'G1', 'G2', 'G3'],
      dtype='object')

In [61]:
# Describe
data.describe()

              age        Medu        Fedu  ...          G1          G2          G3
count  395.000000  395.000000  395.000000  ...  395.000000  395.000000  395.000000
mean    16.696203    2.749367    2.521519  ...   10.908861   10.713924   10.415190
std      1.276043    1.094735    1.088201  ...    3.319195    3.761505    4.581443
min     15.000000    0.000000    0.000000  ...    3.000000    0.000000    0.000000
25%     16.000000    2.000000    2.000000  ...    8.000000    9.000000    8.000000
50%     17.000000    3.000000    2.000000  ...   11.000000   11.000000   11.000000
75%     18.000000    4.000000    3.000000  ...   13.000000   13.000000   14.000000
max     22.000000    4.000000    4.000000  ...   19.000000   19.000000   20.000000

[8 rows x 16 columns]

# Read Data

In [62]:
# Get data of a specific column
data['school']

0      GP
1      GP
2      GP
3      GP
4      GP
       ..
390    MS
391    MS
392    MS
393    MS
394    MS
Name: school, Length: 395, dtype: object

In [63]:
# Get data of multiple columns
# data[[column_1, column_2, ...]]
data[['school', 'G3']]

    school  G3
0       GP   6
1       GP   6
2       GP  10
3       GP  15
4       GP  10
..     ...  ..
390     MS   9
391     MS  16
392     MS   7
393     MS  10
394     MS   9

[395 rows x 2 columns]

In [64]:
# Get row by index (or range of index)
# data.iloc[row_index_start : row_index_end + 1]
data.iloc[1:3]

  school sex  age address famsize Pstatus  ...  Walc  health absences G1 G2  G3
1     GP   F   17       U     GT3       T  ...     1       3        4  5  5   6
2     GP   F   15       U     LE3       T  ...     3       3       10  7  8  10

[2 rows x 33 columns]

In [65]:
# Get value by column and row index
# data.iloc[row_index, column_index]
data.iloc[2, 0]

'GP'

In [66]:
# Iterate rows and get index
for index, row in data.iterrows():
  print(index, row['school'])
  break

0 GP

# Filter Data

In [67]:
# Filter by condition
data.loc[data['Mjob'] == 'at_home']

    school sex  age address famsize Pstatus  ...  Walc  health absences  G1  G2  G3
0       GP   F   18       U     GT3       A  ...     1       3        6   5   6   6
1       GP   F   17       U     GT3       T  ...     1       3        4   5   5   6
2       GP   F   15       U     LE3       T  ...     3       3       10   7   8  10
39      GP   F   15       R     GT3       T  ...     1       2        8  14  13  13
79      GP   F   16       U     GT3       T  ...     2       3       12   5   5   5
86      GP   F   16       U     LE3       T  ...     2       2        4   8   7   6
95      GP   F   15       R     GT3       T  ...     1       1        2   7  10  10
112     GP   F   16       U     GT3       T  ...     1       5        6  10  13  13
120     GP   F   15       U     GT3       T  ...     2       1        2  16  15  15
127     GP   F   19       U     GT3       T  ...     1       5        2   7   8   9
131     GP   F   15       U     GT3       T  ...     2       4        0   8   0   0
134     GP   M   15       R     GT3       T  ...     1       5        0   9   0   0
136     GP   M   17       R     GT3       T  ...     4       5        0  10   0   0
143     GP   F   16       U     LE3       T  ...     3       1        2  14  14  13
147     GP   F   15       U     GT3       T  ...     1       5        2  10  11  11
151     GP   M   16       U     LE3       T  ...     5       5        6  12  13  14
155     GP   M   15       R     GT3       T  ...     1       1        2  11   8   8
157     GP   F   18       R     GT3       T  ...     5       4        6   9   8  10
158     GP   M   16       R     GT3       T  ...     2       3        2  17  15  15
160     GP   M   17       R     LE3       T  ...     2       5        0   7   6   0
163     GP   M   17       U     GT3       T  ...     4       2        2  10  10  10
173     GP   F   16       U     GT3       T  ...     1       3        0   8   7   0
189     GP   M   17       R     GT3       T  ...     5       3        4   8   9  10
191     GP   F   17       U     GT3       T  ...     1       3        0   8   8   9
192     GP   M   17       U     GT3       T  ...     5       5       12   7   8   8
205     GP   F   17       U     GT3       T  ...     4       5       28  10   9   9
208     GP   F   16       U     GT3       T  ...     4       5        6   9   9  10
218     GP   F   17       U     GT3       T  ...     4       3        3   7   7   8
219     GP   F   17       U     GT3       T  ...     1       4        4   9  10  10
220     GP   F   17       R     GT3       T  ...     2       5        2   6   6   6
221     GP   F   17       U     GT3       T  ...     1       5        0   6   5   0
228     GP   M   18       U     LE3       T  ...     5       3       14  10   8   9
235     GP   M   16       U     GT3       T  ...     3       2       10  11   9  10
238     GP   F   17       R     GT3       T  ...     1       3        2  13  11  11
251     GP   M   16       U     GT3       T  ...     3       2        6   7  10  10
264     GP   F   18       U     GT3       T  ...     1       3        0   9  10   0
273     GP   M   17       R     GT3       T  ...     2       1        2  15  14  14
274     GP   F   17       U     GT3       T  ...     1       1        2  10  10  10
282     GP   F   18       R     LE3       T  ...     1       3        1  12  12  12
286     GP   F   18       U     GT3       T  ...     2       2        5  18  18  19
309     GP   F   19       U     LE3       T  ...     3       3       18  12  10  10
311     GP   F   19       U     GT3       T  ...     1       2       20  14  12  13
314     GP   F   19       U     GT3       T  ...     1       3       14  15  13  13
318     GP   F   17       R     GT3       T  ...     5       5        0  11  11  10
324     GP   F   17       U     LE3       T  ...     3       2        0  16  15  15
331     GP   F   17       R     GT3       T  ...     1       5        7  12  14  14
334     GP   F   18       R     GT3       T  ...     1       4        0  10   9   0
343     GP   F   17       U     GT3       A  ...     2       4        0   9   8   0
344     GP   F   18       U     GT3       T  ...     2       3        4  11  10  10
352     MS   M   18       U     LE3       T  ...     3       3        7   8   7   8
359     MS   F   18       U     LE3       T  ...     1       4        0  18  16  16
360     MS   F   18       R     LE3       A  ...     4       5        0  13  13  13
361     MS   M   18       R     LE3       T  ...     3       5        2  13  12  12
363     MS   F   17       U     LE3       T  ...     1       1        0  16  15  15
365     MS   M   18       R     GT3       T  ...     4       3        4  10  10  10
368     MS   F   18       U     GT3       T  ...     2       4        0  11  10  10
371     MS   M   18       R     LE3       T  ...     3       3        3  14  12  12
379     MS   F   17       R     GT3       T  ...     3       1       17  10  10  10
385     MS   F   18       R     GT3       T  ...     3       4        2  10   9  10

[59 rows x 33 columns]

# Sort Data

In [68]:
# By column
# data.sort_values('column_name')
data.sort_values(['sex', 'age'], ascending=False)

    school sex  age address famsize Pstatus  ...  Walc  health absences  G1  G2  G3
247     GP   M   22       U     GT3       T  ...     5       1       16   6   8   8
392     MS   M   21       R     GT3       T  ...     3       3        3  10   8   7
306     GP   M   20       U     GT3       A  ...     1       5        0  17  18  18
390     MS   M   20       U     LE3       A  ...     5       4       11   9   9   9
153     GP   M   19       U     GT3       T  ...     1       4        0   5   0   0
..     ...  ..  ...     ...     ...     ...  ...   ...     ...      ...  ..  ..  ..
142     GP   F   15       U     GT3       T  ...     1       5        2   9  11  11
145     GP   F   15       U     GT3       T  ...     2       5        0   8  11  11
146     GP   F   15       U     GT3       T  ...     1       3        0   6   7   0
147     GP   F   15       U     GT3       T  ...     1       5        2  10  11  11
152     GP   F   15       R     GT3       T  ...     3       3        8  10  10  10

[395 rows x 33 columns]

# Modify Data

In [69]:
# Add a new column using current columns
data['G4'] = data['G1'] + data['G2'] + data['G3']

# or
data['G4_1'] = data.iloc[:, 30:33].sum(axis=1)

data.head()

  school sex  age address famsize Pstatus  ...  absences  G1  G2  G3  G4 G4_1
0     GP   F   18       U     GT3       A  ...         6   5   6   6  17   17
1     GP   F   17       U     GT3       T  ...         4   5   5   6  16   16
2     GP   F   15       U     LE3       T  ...        10   7   8  10  25   25
3     GP   F   15       U     GT3       T  ...         2  15  14  15  44   44
4     GP   F   16       U     GT3       T  ...         4   6  10  10  26   26

[5 rows x 35 columns]

In [70]:
# Delete columns
data.drop(columns=['G4_1'], inplace=True)
data.columns

Index(['school', 'sex', 'age', 'address', 'famsize', 'Pstatus', 'Medu', 'Fedu',
       'Mjob', 'Fjob', 'reason', 'guardian', 'traveltime', 'studytime',
       'failures', 'schoolsup', 'famsup', 'paid', 'activities', 'nursery',
       'higher', 'internet', 'romantic', 'famrel', 'freetime', 'goout', 'Dalc',
       'Walc', 'health', 'absences', 'G1', 'G2', 'G3', 'G4'],
      dtype='object')